@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");
body {
  background: #7ebf53;
  margin: 0;
  padding: 100px;
}

body.custom-background {
  background-color: #ffffff;
}

header {
  height: 0px;
  width: -moz-max-content;
  width: max-content;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  background-color: #f0f0f0; /* Puedes cambiar el color de fondo según tus preferencias */
}

.sidebar img {
  max-width: 100%;
  height: auto;
  display: block;
  width: auto;
}

.container, .container3 {
  flex-direction: row;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 5px;
  box-sizing: border-box;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.container1 {
  width: -moz-max-content;
  width: max-content;
  background-color: white !important;
  max-height: 400px; /* Set a fixed maximum height for the table container */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

#premiopurete {
  width: 100%;
  text-align: center;
}

#tablaDatos {
  position: fixed;
  width: 70%;
  align-items: center;
  text-align: center;
  left: 50; /* Adjust based on your design */
}

th {
  text-transform: uppercase;
  background: #D3EBCE;
  background-size: contain;
  text-align: center;
}

th, td {
  padding: 5px 12px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}

/*.custom-btn {
	--primary: 255, 90, 120;
	--secondary: 150, 50, 60;
	width: 60px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	outline: 10px solid rgb(var(--primary), .5);
	border-radius: 100%;
	position: relative;
	transition: .3s;
  }

  .custom-btn .back {
	background: rgb(var(--secondary));
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }

  .custom-btn .front {
	background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
	box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
	border-radius: 100%;
	position: absolute;
	border: 1px solid rgb(var(--secondary));
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 600;
	font-family: inherit;
	transform: translateY(-15%);
	transition: .15s;
	color: rgb(var(--secondary));
  }

  .custom-btn :active .front {
	transform: translateY(0%);
	box-shadow: 0 0;
  }*/
.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), 0.5);
  border-radius: 100%;
  position: relative;
  transition: 0.3s;
  left: -50px;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), 0.6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: 0.15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

/*.custom-btn {
    background-color: #28a745; /* Cambiar a tu color deseado, en este caso, verde */
/*}*/
/*.oliwi {
	position: fixed;
    border-style: groove !important;
    border-width: 10px !important;
    border-color: #760209 !important;
    background-color: #a5040f !important;
}*/
.slotcontainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 0px;
  border-style: groove;
  border-color: #466009;
  background-color: #466009;
  border-width: 20px;
  border-radius: 20px;
}

.oliwi {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

.slot {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 7.5px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.slot .symbols {
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s linear;
}

.slot .symbol {
  width: 100px;
  height: 150px;
  font-size: 60px;
  line-height: 100px;
  display: block;
  text-align: center;
  padding-top: 25px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.custom-shoulder {
  margin-top: -50px; /* Ajusta el valor según tus preferencias */
}

.page {
  height: 100%;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #D8D8D8 0%, #F9F9F9 10%, #F9F9F9 80%, #D8D8D8 100%);
}

/* Mixins */
@keyframes spin {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
#shoulder {
  position: relative;
  top: -10px;
  width: 80px;
  height: 100px;
  border-radius: 10px;
  background-color: #333;
  background-image: -o-linear-gradient(#666 0%, #333 60%, #666 100%);
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.2);
  border-style: groove;
  border-color: #333;
  display: flex;
}

#arm {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 60px;
  height: 80px;
  border-radius: 10%/50%;
  background-color: #666;
  background-image: -o-linear-gradient(left, hsla(0, 0%, 0%, 0.3) 0%, hsla(0, 0%, 0%, 0) 15%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 0%, 0) 85%, hsla(0, 0%, 0%, 0.3)), -o-linear-gradient(top, #333 0%, #666 10%, #999 30%, hsla(0, 0%, 100%, 0.8) 60%, #999 70%, #666 90%, #333 100%);
}
#arm:before {
  content: "";
  position: absolute !important;
  top: -40px;
  left: 16px;
  width: 16px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0px 2px 0px #333;
  background-color: #999;
  transform: rotate(-10deg);
  background-image: linear-gradient(to right, #666 0%, hsla(0, 0%, 100%, 0.7) 50%, #666 100%);
  transition: all 0.5s ease-in-out 0s;
}
#arm:after {
  content: "";
  position: absolute;
  top: -70px;
  left: -4px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #760209;
  border: 2px solid #5d0207;
  box-sizing: border-box;
  background-image: -o-radial-gradient(50% 40%, closest-corner, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0));
  transition: all 0.5s ease-in-out 0s;
}

#arm.clicked:before {
  top: -20px;
  left: 20px;
  transform: rotate3d(100, 10, 0, 180deg);
  transform-origin: 0% 100%;
  transition: all 0.5s ease-in-out 0s;
}
#arm.clicked:after {
  top: 90px;
  transition: all 0.5s ease-in-out 0s;
}

.canvas-confetti-btn {
  font-size: 5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.canvas-confetti-btn .tool-tip {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: rgb(100, 100, 100);
}
.canvas-confetti-btn .tool-tip:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -5px;
  background-color: #fff;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}
.canvas-confetti-btn:hover .tool-tip {
  animation: none;
  opacity: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, 0, 0);
  }
  20%, 80% {
    transform: translate3d(0, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }
  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}
.swal2-popup {
  font-size: 1.6rem !important;
  font-family: Georgia, serif;
}/*# sourceMappingURL=styles.css.map */